<a href="https://colab.research.google.com/github/ulisesjcaroflores/Week3-GSB530F25/blob/main/Practice_Activity_Writing_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
!pip install palmerpenguins

Collecting palmerpenguins
  Downloading palmerpenguins-0.1.4-py3-none-any.whl.metadata (2.0 kB)
Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (from palmerpenguins) (2.2.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (from palmerpenguins) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas->palmerpenguins) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas->palmerpenguins) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas->palmerpenguins) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas->palmerpenguins) (1.17.0)
Downloading palmerpenguins-0.1.4-py3-none-any.whl (17 kB)
Installing collected packages: palmerpenguins
Successfully installed palmerpenguins-0.1.4

In [9]:
import numpy as np
import pandas as pd
from sys import exit
from palmerpenguins import load_penguins
from plotnine import ggplot, aes, geom_point, geom_bar

In [11]:
penguins = load_penguins()
penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007

1. Fill in the necessary code to write a function called `times_seven()`. The function should take a single argument (`x`) and multiply the input by 7.
  + This function should check that the argument is numeric.
  + This function should also excitedly announce (print) *“I love sevens!”* if the argument to the function is a 7.

In [13]:
def times_seven(x):
  if not (isinstance(x, (int, float))):
    exit("Please provide a variable name that is numeric.")

  if x == 7:
    print("I love sevens!")

  return x * 7

2. Write and run some *unit tests* for your `times_seven` function.  What happens if the input to the function is `[1, 3, 5, 7]`?

In [15]:
times_seven(17)

119

In [16]:
times_seven(7)

I love sevens!

49

In [20]:
times_seven(1.3)

9.1

In [18]:
times_seven([1, 3, 5, 7])

SystemExit: Please provide a variable name that is numeric.

/usr/local/lib/python3.12/dist-packages/IPython/core/interactiveshell.py:3561: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.

In [22]:
times_seven(1, 3)

TypeError: times_seven() takes 1 positional argument but 2 were given

**In this instance, times_seven() can only process single inputs. It cannot process a list of numbers.. If we decided to put 2 arguments in the function, we'll notice that no exit message is provided, which may be due to them being numeric values; however, it does indicate the function only takes 1 input at a time.**

3. Consider the following function:

In [23]:
def add_or_subtract(first_num, second_num = 2, type = "add"):

  if (type == "add"):
    res = first_num + second_num
  elif (type == "subtract"):
    res = first_num - second_num
  else:
    exit("Please choose `add` or `subtract` as the type.")

  return res

**Without running the code**, predict if the following will produce:

a. 1

b. -1

c. 30

d. An error defined by the function `add_or_subtract()`

e. An error defined in a different function, which is called inside the `add_or_subtract()` function

In [24]:
add_or_subtract(5, 6, type = "subtract")
#(a) this would be a because we can see that each parameter has been defined; otherwise, if we only listed
#first_num = 5 without stating the others, then it would default to def in the parameter.

add_or_subtract("orange")
#(d) this would given an error defined by add_or_substract since it does not account for a string
#being used within the function

add_or_subtract(5, 6, type = "multiply")
#(e) this would give an error for a different function as multiply was never defined within
#the add_or_subtract function.

TypeError: can only concatenate str (not "int") to str

In [25]:
add_or_subtract(5, 6, type = "subtract")

-1

In [26]:
add_or_subtract("orange")

TypeError: can only concatenate str (not "int") to str

In [27]:
add_or_subtract(5, 6, type = "multiply")

SystemExit: Please choose `add` or `subtract` as the type.

/usr/local/lib/python3.12/dist-packages/IPython/core/interactiveshell.py:3561: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.

4. Consider the following code:

In [ ]:
first_num  = 5
second_num = 3

result = 8

result = add_or_subtract(first_num, second_num = 4)

result_2 = add_or_subtract(first_num)


In your Global Environment, what is the value of...

a. `first_num`

b. `second_num`

c. `result`

d. `result_2`

In the global environment, the value of:

a. first_num = 5

b. second_num = 3

c. result_num = 9

d. result_2 =

**In this case, we can see that first_num and second_num are defined globally as 5 and 3 respectively, but notice that result is defined as 8 and later as the function we defined. However, we see since second_num as an inout is set as 4, then we utilize 4 in the arthmietic since it was defined in the function. Also, we know the operation is addition by default since it was not specified. However, this new result is overridden to be 9. however, we see that result_2 is going to be 7 since second_num was never defined and the default is 2 regardless of the global identifier**